<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  列表查询公共片段。业务 Mapper：
  <where>
    ...扁平条件(无 dq 时)...
    <include refid="com.geekplus.common.mybatis.DynamicQuery.DynamicWhere"/>
    <include refid="com.geekplus.common.mybatis.DynamicQuery.CreateTimeRange"/>
    <include refid="com.geekplus.common.mybatis.DynamicQuery.KeywordSearch"/>
  </where>
  <include refid="com.geekplus.common.mybatis.DynamicQuery.OrderBy"/>
-->
<mapper namespace="com.geekplus.common.mybatis.DynamicQuery">

    <sql id="DynamicWhere">
        <if test="params != null and params.dq != null and params.dq.size() &gt; 0">
            <foreach collection="params.dq" item="c">
                <choose>
                    <when test="c.op == 'eq'">AND ${c.column} = #{c.value}</when>
                    <when test="c.op == 'ne'">AND ${c.column} &lt;&gt; #{c.value}</when>
                    <when test="c.op == 'gt'">AND ${c.column} &gt; #{c.value}</when>
                    <when test="c.op == 'ge'">AND ${c.column} &gt;= #{c.value}</when>
                    <when test="c.op == 'lt'">AND ${c.column} &lt; #{c.value}</when>
                    <when test="c.op == 'le'">AND ${c.column} &lt;= #{c.value}</when>
                    <when test="c.op == 'like'">AND ${c.column} like concat('%', #{c.value}, '%')</when>
                    <when test="c.op == 'notLike'">AND ${c.column} not like concat('%', #{c.value}, '%')</when>
                    <when test="c.op == 'isNull'">AND ${c.column} is null</when>
                    <when test="c.op == 'isNotNull'">AND ${c.column} is not null</when>
                </choose>
            </foreach>
        </if>
    </sql>

    <!-- BaseEntity.beginTime / endTime；单表 create_time -->
    <sql id="CreateTimeRange">
        <if test="beginTime != null and beginTime != ''">
            AND date_format(create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''">
            AND date_format(create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
    </sql>

    <!-- 联表：Helper.prepare 写入 params.createTimeColumn = 'su.create_time' -->
    <sql id="CreateTimeRangeAliased">
        <if test="params != null and params.createTimeColumn != null and beginTime != null and beginTime != ''">
            AND date_format(${params.createTimeColumn},'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="params != null and params.createTimeColumn != null and endTime != null and endTime != ''">
            AND date_format(${params.createTimeColumn},'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
    </sql>

    <!-- searchValue + params.searchColumns（白名单列名列表） -->
    <sql id="KeywordSearch">
        <if test="searchValue != null and searchValue != '' and params != null and params.searchColumns != null and params.searchColumns.size() &gt; 0">
            AND (
            <foreach collection="params.searchColumns" item="col" separator=" OR ">
                ${col} like concat('%', #{searchValue}, '%')
            </foreach>
            )
        </if>
    </sql>

    <sql id="OrderBy">
        <if test="params != null and params.orderByColumn != null and params.orderByColumn != ''">
            order by ${params.orderByColumn}
            <choose>
                <when test="params.isAsc != null and params.isAsc == 'desc'">desc</when>
                <otherwise>asc</otherwise>
            </choose>
        </if>
    </sql>

</mapper>
